<div class="row">
  <div class="col m3 toc" data-turbolinks="false">
    <ul class="collection z-depth-1">
      <li class="collection-item">
        <a href="#autocomplete-demo">Autocomplete</a>
      </li>
      <li class="collection-item">
        <a href="#checkboxes-demo">Checkboxes</a>
      </li>
      <li class="collection-item">
        <a href="#chips-demo">Chips</a>
      </li>
      <li class="collection-item">
        <a href="#picker-demo">Picker</a>
      </li>
      <li class="collection-item">
        <a href="#slider-demo">Slider</a>
      </li>
      <li class="collection-item">
        <a href="#radios-demo">Radios</a>
      </li>
      <li class="collection-item">
        <a href="#select-demo">Select</a>
      </li>
      <li class="collection-item">
        <a href="#switches-demo">Switches</a>
      </li><li class="collection-item">
        <a href="#inputs-demo">Inputs</a>
      </li>
    </ul>
  </div>
  <div class="col m9">
    <br />
    <div class="card section scrollspy" id="autocomplete-demo">
      <div class="card-content">
        <span class="card-title">Autocomplete</span>
        <%= render "pages/forms/autocomplete" %>
      </div>
    </div>
    <br />
    <div class="card section scrollspy" id="checkboxes-demo">
      <div class="card-content">
        <span class="card-title">Checkboxes</span>
        <%= render "pages/forms/checkboxes" %>
      </div>
    </div>
    <br />
    <div class="card section scrollspy" id="chips-demo">
      <div class="card-content">
        <span class="card-title">Chips</span>
        <%= render "pages/forms/chips" %>
      </div>
    </div>
    <br />
    <div class="card section scrollspy" id="picker-demo">
      <div class="card-content">
        <span class="card-title">Picker</span>
        <%= render "pages/forms/picker" %>
      </div>
    </div>
    <br />
    <div class="card section scrollspy" id="slider-demo">
      <div class="card-content">
        <span class="card-title">Slider</span>
        <%= render "pages/forms/slider" %>
      </div>
    </div>
    <br />
    <div class="card section scrollspy" id="radios-demo">
      <div class="card-content">
        <span class="card-title"> Radios</span>
        <%= render "pages/forms/radios" %>
      </div>
    </div>
    <br />
    <div class="card section scrollspy" id="select-demo">
      <div class="card-content">
        <span class="card-title">Select</span>
        <%= render "pages/forms/select" %>
      </div>
    </div>
    <br />
    <div class="card section scrollspy" id="switches-demo">
      <div class="card-content">
        <span class="card-title">Switches</span>
        <%= render "pages/forms/switches" %>
      </div></div><br />
      <div class="card section scrollspy" id="inputs-demo">
        <div class="card-content">
          <span class="card-title"> Inputs</span>
          <%= render "pages/forms/inputs" %>
        </div>
      </div>
  </div>
</div>
