<div class="row">
  <div class="col m3 toc" data-turbolinks="false">
    <ul class="collection z-depth-1">
      <li class="collection-item">
        <a href="#carousel-demo">Carousel</a>
      </li>
      <li class="collection-item">
        <a href="#collapsible-demo">Collapsible</a>
      </li>
      <li class="collection-item">
        <a href="#dropdown-demo">Dropdown</a>
      </li>
      <li class="collection-item">
        <a href="#feature-demo">Feature Discovery</a>
      </li>
      <li class="collection-item">
        <a href="#modal-demo">Modal</a>
      </li>
      <li class="collection-item">
        <a href="#tabs-demo">Tabs</a>
      </li>
    </ul>
  </div>
  <div class="col m9">
    <div class="card section scrollspy" id="carousel-demo">
      <div class="card-content">
        <span class="card-title">Carousel</span>
        <%= render "pages/javascript/carousel" %>

      </div>
    </div>
    <br />
    <div class="card section scrollspy" id="collapsible-demo">
      <div class="card-content">
        <span class="card-title">Collapsible</span>
        <%= render "pages/javascript/collapsible" %>
      </div>
    </div>
    <br />
    <div class="card section scrollspy" id="dropdown-demo">
      <div class="card-content">
        <span class="card-title">Dropdown</span>
        <%= render "pages/javascript/dropdown" %>
      </div>
    </div>
    <br />
    <div class="card section scrollspy" id="feature-demo">
      <div class="card-content">
        <span class="card-title">Feature Discovery </span>
        <%= render "pages/javascript/feature_discovery" %>
      </div>
    </div>
    <br />
    <div class="card section scrollspy" id="modal-demo">
      <div class="card-content">
        <span class="card-title">Modal</span>
        <%= render "pages/javascript/modal" %>
      </div>
    </div>
    <br />
    <div class="card section scrollspy" id="tabs-demo">
      <div class="card-content">
        <span class="card-title">Tabs</span>
        <%= render "pages/javascript/tabs" %>
      </div>
    </div>
  </div>
</div>
